In [3]:
import pandas as pd
df = pd.read_csv('onlinepurchase.csv')

In [5]:
df.head(5)

,Invoice,StockCode,Description,Quantity,Invoice_time,Price,CustomerID,Country,Purchase_dt
0,493410,TEST001,This is a test product.,5,2010-01-04 9:24,4.50,12346.0,United Kingdom,2010-01-04
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 9:43,4.25,14590.0,United Kingdom,2010-01-04
2,493412,TEST001,This is a test product.,5,2010-01-04 9:53,4.50,12346.0,United Kingdom,2010-01-04
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 9:54,0.85,NaN,United Kingdom,2010-01-04
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 9:54,3.75,NaN,United Kingdom,2010-01-04

In [6]:
df.shape

(1022664, 9)

In [7]:
#Cleaning the Dataset 
df=df.drop_duplicates()

In [9]:
df = df.loc[df['Quantity'] > 0]

In [10]:
df = df.dropna(subset=['CustomerID'])

In [11]:
df = df.dropna(subset=['Description'])

In [12]:
df.to_csv('onlinepurchase_clean.csv', sep='|', index=False)

In [13]:
customer_item_matrix = df.pivot_table(
    index='CustomerID', 
    columns='StockCode', 
    values='Quantity',
    aggfunc='sum'
)

In [15]:
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,BANK CHARGES,C2,D,DOT,M,PADS,POST,SP1002,TEST001,TEST002
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
#User based collaborative filtering
from sklearn.metrics.pairwise import cosine_similarity
user_user_sim_matrix = pd.DataFrame(
    cosine_similarity(customer_item_matrix)
)
user_user_sim_matrix

,0,1,2,3,4,5,6,7,8,9,...,5822,5823,5824,5825,5826,5827,5828,5829,5830,5831
0,1.000000,0.000000,0.000000,0.131060,0.000000,0.000000,0.023002,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.070535,0.000000
1,0.000000,1.000000,0.053452,0.045502,0.043214,0.038881,0.031944,0.055728,0.023395,0.090351,...,0.037987,0.000000,0.067344,0.064820,0.102869,0.113961,0.067344,0.000000,0.076186,0.024398
2,0.000000,0.053452,1.000000,0.017025,0.048507,0.000000,0.023905,0.000000,0.026261,0.067612,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.138580,0.000000,0.000000,0.000000,0.054772
3,0.131060,0.045502,0.017025,1.000000,0.041292,0.037152,0.152617,0.071000,0.044710,0.057555,...,0.054447,0.000000,0.032174,0.020646,0.049147,0.140654,0.016087,0.000000,0.062399,0.038854
4,0.000000,0.043214,0.048507,0.041292,1.000000,0.000000,0.028989,0.050572,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.058824,0.000000,0.038782,0.000000,0.000000,0.029630,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,0.000000,0.113961,0.138580,0.140654,0.038782,0.034893,0.140153,0.066683,0.125976,0.018019,...,0.034091,0.044348,0.030218,0.077563,0.015386,1.000000,0.090655,0.015386,0.110698,0.087581
5828,0.000000,0.067344,0.000000,0.016087,0.000000,0.041239,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.090655,1.000000,0.054554,0.069264,0.120761
5829,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034503,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.015386,0.054554,1.000000,0.105802,0.026352
5830,0.070535,0.076186,0.000000,0.062399,0.029630,0.026660,0.087612,0.000000,0.016042,0.082602,...,0.000000,0.000000,0.069264,0.000000,0.070535,0.110698,0.069264,0.105802,1.000000,0.066915
5831,0.000000,0.024398,0.054772,0.038854,0.000000,0.019920,0.054554,0.114208,0.023973,0.077152,...,0.058387,0.000000,0.034503,0.000000,0.000000,0.087581,0.120761,0.026352,0.066915,1.000000

In [17]:
customer_item_matrix.index
user_user_sim_matrix.columns = customer_item_matrix.index
user_user_sim_matrix.index = customer_item_matrix.index

In [18]:
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12351.0,12352.0,12353.0,12354.0,12355.0,...,18278.0,18279.0,18280.0,18281.0,18282.0,18283.0,18284.0,18285.0,18286.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.00000,0.000000,0.000000,0.131060,0.000000,0.000000,0.023002,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.070535,0.000000
12347.0,0.00000,1.000000,0.053452,0.045502,0.043214,0.038881,0.031944,0.055728,0.023395,0.090351,...,0.037987,0.0,0.067344,0.064820,0.102869,0.113961,0.067344,0.0,0.076186,0.024398
12348.0,0.00000,0.053452,1.000000,0.017025,0.048507,0.000000,0.023905,0.000000,0.026261,0.067612,...,0.000000,0.0,0.000000,0.000000,0.000000,0.138580,0.000000,0.0,0.000000,0.054772
12349.0,0.13106,0.045502,0.017025,1.000000,0.041292,0.037152,0.152617,0.071000,0.044710,0.057555,...,0.054447,0.0,0.032174,0.020646,0.049147,0.140654,0.016087,0.0,0.062399,0.038854
12350.0,0.00000,0.043214,0.048507,0.041292,1.000000,0.000000,0.028989,0.050572,0.000000,0.000000,...,0.000000,0.0,0.000000,0.058824,0.000000,0.038782,0.000000,0.0,0.029630,0.000000

In [19]:
customer_item_matrix

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,BANK CHARGES,C2,D,DOT,M,PADS,POST,SP1002,TEST001,TEST002
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18283.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18284.0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18285.0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18286.0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18287.0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [20]:
items_bought_by_A = set(customer_item_matrix.loc[12350.0].iloc[
    customer_item_matrix.loc[12350.0].to_numpy().nonzero()].index) 
items_bought_by_A

{'20615',
 '20652',
 '21171',
 '21832',
 '21864',
 '21866',
 '21908',
 '21915',
 '22348',
 '22412',
 '22551',
 '22557',
 '22620',
 '79066K',
 '79191C',
 '84086C',
 'POST'}

In [21]:
items_bought_by_B = set(customer_item_matrix.loc[12568.0].iloc[
    customer_item_matrix.loc[12568.0].to_numpy().nonzero()
].index)
items_bought_by_B

{'16161P', '20676', '22348', '47570', 'POST'}

In [22]:
items_to_recommend_to_B = items_bought_by_A - items_bought_by_B
items_to_recommend_to_B

{'20615',
 '20652',
 '21171',
 '21832',
 '21864',
 '21866',
 '21908',
 '21915',
 '22412',
 '22551',
 '22557',
 '22620',
 '79066K',
 '79191C',
 '84086C'}

In [23]:
df.loc[
    df['StockCode'].isin(items_to_recommend_to_B), 
    ['StockCode', 'Description']
].drop_duplicates().set_index('StockCode')

                                Description
StockCode
21171                  BATHROOM METAL SIGN
21864       UNION JACK FLAG PASSPORT COVER
21908         CHOCOLATE THIS WAY METAL SIGN
21832                  CHOCOLATE CALCULATOR
20652              BLUE SPOTTY LUGGAGE TAG
20615            BLUE SPOTTY PASSPORT COVER
79066K                       RETRO MOD TRAY
21866           UNION JACK FLAG LUGGAGE TAG
79191C          RETRO PLASTIC ELEPHANT TRAY
22412       METAL SIGN NEIGHBOURHOOD WITCH
84086C              PINK/PURPLE RETRO RADIO
21915                RED  HARMONICA IN BOX
22551              PLASTERS IN TIN SPACEBOY
22557      PLASTERS IN TIN VINTAGE PAISLEY
22620           4 TRADITIONAL SPINNING TOPS
20652            BLUE POLKADOT LUGGAGE TAG
20615          BLUE POLKADOT PASSPORT COVER

In [24]:
#Item based collaborative filtering

from sklearn.metrics.pairwise import cosine_similarity

def get_user_user_sim_matrix(customer_item_matrix):
    
    user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))
    user_user_sim_matrix.columns = customer_item_matrix.index
    user_user_sim_matrix.index = customer_item_matrix.index
    
    return user_user_sim_matrix

In [25]:
def get_recommendations(target_id, user_user_sim_matrix, customer_item_matrix):


    sim_rank = user_user_sim_matrix.loc[target_id].sort_values(ascending=False)
    

    sim_userid = sim_rank.index[1]
    cos_value = sim_rank.iloc[1]
    

    items_bought_by_target_id = set(customer_item_matrix.loc[target_id].iloc[
    customer_item_matrix.loc[target_id].to_numpy().nonzero()[0]].index) 
    

    items_bought_by_sim_userid = set(customer_item_matrix.loc[sim_userid].iloc[
    customer_item_matrix.loc[sim_userid].to_numpy().nonzero()[0]].index) 
    

    items_to_recommend_to_target_id = items_bought_by_sim_userid - items_bought_by_target_id
    

    recommend_df = pd.DataFrame(columns=['target_id', 'sim_userid', 'cos_value'], index=range(len(items_to_recommend_to_target_id)))
    
    recommend_df['target_id'] = target_id
    recommend_df['sim_userid'] = sim_userid
    recommend_df['cos_value'] = cos_value

    recommend_df['recommend_prod'] = list(items_to_recommend_to_target_id)
    
    return recommend_df

In [26]:
get_recommendations(12758.0, user_user_sim_matrix, customer_item_matrix)

     target_id  sim_userid  cos_value recommend_prod
0      12758.0     12766.0   0.387695          21216
1      12758.0     12766.0   0.387695          23356
2      12758.0     12766.0   0.387695          21891
3      12758.0     12766.0   0.387695          23375
4      12758.0     12766.0   0.387695          22851
..         ...         ...        ...            ...
174    12758.0     12766.0   0.387695          22052
175    12758.0     12766.0   0.387695          22029
176    12758.0     12766.0   0.387695          23319
177    12758.0     12766.0   0.387695          22043
178    12758.0     12766.0   0.387695          23353

[179 rows x 4 columns]